<ion-content>
  <div class="container">
    <div id="logo">
      <ion-img src="../../../assets/images/logo/logo.png"></ion-img>
    </div>
    <div id="form-login">
      <form #registrationForm="ngForm" (ngSubmit)="setPassword()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" type="email" [clearInput]="true" [(ngModel)]="utente.email"></ion-input>
          </ion-item>
          <ion-button type="submit" color="dark" [disabled]="isDisabled" id="btnRegistrazione" fill="outline" expand="block">Invia una nuova password</ion-button>
          <ion-button type="button" routerLink="/login" color="dark" id="btnAccedi" fill="outline" expand="block">Te la sei ricordata? Clicca qui</ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
